/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
  color: unset;
}

@font-face {
  font-family: 'Alinsa';
  src: url('../content/fonts/alinsa.woff2') format('woff2'),
       url('../content/fonts/alinsa.woff') format('woff'),
       url('../content/fonts/alinsa.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NaNJaune';
  src: url('../content/fonts/NaNJauneMaxiBlack.woff2') format('woff2'),
       url('../content/fonts/NaNJauneMaxiBlack.woff') format('woff'),
       url('../content/fonts/NaNJauneMaxiBlack.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ShineCoasty';
  src: url('../content/fonts/ShineCoasty.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* VARIABLES */
:root {
  --container-padding: 2vw;
  
  --border-radius: 2.5rem;

  --primary-color: #CCFF00;
  --secondary-color: #9900ff;
  --background: #fffdf3; /*#ffffff*/
  --foreground: #000000;
}

/* START OF THE CODE */
html {
  scroll-behavior: smooth;
}

::selection {
  background: var(--background);
  color: var(--foreground);
}

body {
  color: var(--foreground);
  font-family: Arial, sans-serif;
  overflow: hidden;
  background: var(--primary-color);}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  max-width: 100%;
  height: auto;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  box-shadow: inset 0 0 150px var(--color-green);
  z-index: -1;
}

.overlay-noise {
  z-index: 100000000;
  opacity: 0.1;
  background-image: url('https://i.ibb.co/DRRTGSJ/noise-overlay.gif');
  background-position: 0 0;
  background-size: 350px;
  background-attachment: fixed;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  pointer-events: none;
}

.main {
  transform: scale(0.6);
  animation: siteScale .75s ease-in-out 1.5s forwards, mainRadius .5s ease-in-out 1.75s forwards;
  border-radius: 4rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: .25s all ease-in-out;
  padding: var(--container-padding);
  box-sizing: border-box;
  padding-bottom: 0;
}

.main-scrolled {
  transform: scale(0.6);
  animation: siteScale .75s ease-in-out 1.5s forwards, mainRadius .5s ease-in-out 1.75s forwards;
  border-radius: 4rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transition: .25s all ease-in-out;
  background: var(--primary-color);
  box-sizing: border-box;
  padding: unset;
}

.main::after,
.main-scrolled::after {
  background: linear-gradient(to top, var(--foreground), transparent);
  width: 100%;
  height: 110vh;
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  animation: gradientToTop .75s ease-in-out 2s forwards;
  transform: translateY(100%);
}

@keyframes siteScale {
  from {
    transform: scale(0.6) translateY(0);
    filter: blur(100px);
  }

  to {
    transform: scale(1) translateY(-100%);
    filter: blur(0px);
  }
}

@keyframes mainRadius {
  from {
    border-radius: 4rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  to {
    border-radius: 0rem;
  }
}

@keyframes gradientToTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.main-container {
  width: 100%;
  height: 100vh;
  border-radius: var(--border-radius);
  height: calc(100vh - var(--container-padding));
  transition: all .35s ease-in-out;
  overflow: hidden;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--foreground);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container-scrolled {
  width: 100%;
  height: 100vh;
  border-radius: unset;
  height: 100vh;
  transition: all .25s ease-in-out;
  overflow: hidden;
  display: flex;
  background: var(--foreground);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container-block {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

/* LOADER */
.loader {
  width: 100%;
  height: 100vh;
  position: relative;
  background: var(--color-background);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--container-padding);
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(100px);
  z-index: 1000;
  animation: loaderToTop .75s ease-in-out 1.5s forwards;
  color: var(--background);
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  background: linear-gradient(to bottom, var(--foreground), var(--primary-color));
  transform: translateY(0);
}

@keyframes loaderToTop {
  from {
    /*opacity: 1;
    visibility: visible;*/
    transform: translateY(0);
  }

  to {
    /*opacity: 0;
    visibility: hidden;*/
    transform: translateY(-100%);
  }
}

.loader-title {
  font-size: 5vw;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  user-select: none;
  animation: loaderTitleEntry .5s ease-in-out 0.2s forwards, loaderTitleExit 1.25s ease-in-out 1.25s forwards;  
}

@keyframes loaderTitleEntry {
  from {
   transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes loaderTitleExit {
  0% {
    filter: blur(0);
    -webkit-filter: blur(0px);
    opacity: 1;
  }

  95% {
    filter: blur(50px);
    -webkit-filter: blur(50px);
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}


.loader-logo {
  max-width: 15rem;
  width: 100%;
  transform: rotate(3deg);
}

.container {
  /*max-width: 1700px;*/
  padding: var(--container-padding);
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}


.site-content {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: var(--container-padding);
}

/* HERO */
.hero {
  width: 100%;
  height: min-content;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  top: 0;
  position: sticky;
  z-index: 1;
  background: var(--foreground);
  background: linear-gradient(to bottom, var(--foreground), transparent);
}

.header-container {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*align-items: center;*/
  padding: var(--container-padding);
  box-sizing: border-box;
  /*background: var(--primary-color);*/
}

.rounded-top-right-shape {
  width: 30px;
  height: 30px;
  background: var(--primary-color);
}

.circle-black {
  width: 100%;
  height: 100%;
  background: var(--foreground);
  border-top-right-radius: 100px;
}

.header-block-left,
.header-block-right {
  height: 100%;
}

.header-block-left {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--foreground);
  border-top-left-radius: var(--border-radius);
}

.header-logo {
  width: max-content;
  height: max-content;
  padding: 0.5vw 0.75vw 0.5vw 0.5vw;
  background: var(--background);
  font-size: 1.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5vw;
  color: var(--foreground);
  border-radius: 100px;
  transform: scale(1);
  transition: .3s all ease-in-out;
  filter: drop-shadow(0px 0px 30px #ffffff30);
}

.header-logo:hover {
  transform: scale(1.05) rotate(-2deg);
}

.header-menu-icon {
  transform: rotate(0deg);
  transition: 1s all ease-in-out;
  width: 2vw;
}

.header-logo:hover .header-menu-icon {
  transform: rotate(180deg);
}

.header-logo p {
  /*transform: translateY(0.5px);*/
  text-transform: uppercase;
}

.header-menu-shape {
  /*width: min-content;*/
  display: block;
  user-select: none;
}

svg path {
  fill: #7000FF !important;
}

.header-block-right {
  min-width: min-content;
  height: auto;
  display: flex;
  /*align-items: center;*/
  padding-top: 10px;
  padding-right: 3.5rem;
}

.header-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  color: var(--background);
}

.header-nav ul li {
  cursor: pointer;
  min-width: max-content;
  text-transform: uppercase;
  font-size: 1.25rem;
}

/* HERO CONTENT*/
.hero-container {
  width: 100%;
  /*min-height: 70vh;*/
  height: min-content;
  display: flex;
  flex-direction: row;
  gap: var(--container-padding);
}

.hero-subcontainer-block {
  width: 50%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--background);
}

.hero-subcontainer-block:first-of-type {
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 4rem;
}

.hero-intro-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 40vw;
}

.hero-title {
  font-family: 'NaNJaune', sans-serif;
  text-transform: uppercase;
  font-size: 5vw;
}

.hero-subtitle {
  font-size: 1.5vw;
  line-height: 2vw;
}

.hero-subtitle span {
  /*text-decoration: underline;
  color: var(--primary-color);*/
  font-family: 'ShineCoasty', sans-serif;
}

.hero-list-container {

}

.hero-list-block {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-list-item {
  border: 1px solid var(--background);
  padding: 0.75vw 1vw;
  text-transform: uppercase;
  font-size: 1.25vw;
  border-radius: 100px;
  max-width: max-content;
  cursor: pointer;
  background: linear-gradient(to right, var(--background) 50%, var(--foreground) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .2s ease-out;
  display: flex;
  gap: 0.75vw;
  align-items: center;
}

.hero-list-item:hover {
  background-position: left bottom;
  color: var(--foreground);
  mix-blend-mode: lighten;
}

.hero-list-item-icon {
  width: 1.5vw;
  max-width: 1.5vw;
  transition: all .15s ease-in-out;
}

.hero-list-item:hover .hero-list-item-icon {
  filter: invert(1);
}

.hero-picture {
  width: 25vw;
}

/* GRAPHIC DESIGN SECTION */
.graphic-design {
  width: 100%;
  min-height: 100vh;
  background: var(--foreground);
}


/*  */


@media only screen and (min-width: 1700px) {
  /* HEADER */
  .header-logo {
    padding: 0.55rem 0.75rem 0.55rem 0.55rem;
    font-size: 1.6rem;
    gap: 0.55rem;
  }

  /* HERO */
  .hero-container {
    flex-direction: column !important;
  }
  .hero-subcontainer-block {
    width: 100%;
  }
  .hero-subcontainer-block:first-of-type {
    align-items: center;
  }
  .hero-intro-container {
    max-width: unset;
    text-align: center;
  }
  .hero-title {
    /*font-size: 6.35rem;*/
  }
  .hero-subtitle {
    /*font-size: 1.6rem;
    line-height: 2.2rem;*/
  }
  .hero-list-block {
    flex-direction: row;
    justify-content: center;
  }
  .hero-list-item {
    font-size: 1.35rem;
    padding: 0.8rem 1.15rem 0.8rem 1.15rem;
  }
  .hero-list-item-icon {
    width: 2rem;
  }
  .hero-picture {
    max-width: 400px;
  }
}

@media only screen and (max-width: 1250px) {
  /* VARIABLES */
  :root {
    
  }

  /* HEADER */
  .header-logo {
    padding: 0.55rem 0.75rem 0.55rem 0.55rem;
    font-size: 1.2rem;
    gap: 0.55rem;
  }
  .header-menu-icon {
    width: 1.75rem;
  }

  /* HERO */
  .hero-title {
    font-size: 3.5rem;
  }
  .hero-subtitle {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .hero-list-item {
    font-size: 1.15rem;
    gap: 0.6em;
    padding: 0.65rem 1rem 0.65rem 1rem;
  }
  .hero-list-item-icon {
    width: 1.5rem !important;
    max-width: 1.5rem !important;
  }
  .hero-subcontainer-block:first-of-type {
    gap: 2rem;
  }
  .hero-picture {
    max-width: 400px;
  }
  .hero-intro-container {
    max-width: 620px;
    gap: 1.5rem;
  }
}

@media only screen and (max-width: 960px) {
  /* VARIABLES */
  :root {
    --border-radius: 6vw;
    --container-padding: 4vw;
  }
  /* LOADER */
  .loader-title {
    font-size: 7vw;
  }
  /* HEADER */
 
  /* HERO */
  .hero-container {
    flex-direction: column;
  }
  .hero-title {
    font-size: 3rem;
  }
  .hero-subcontainer-block {
    justify-content: center;
    width: 100%;
  }
  .hero-intro-container {
    max-width: unset;
  }
  .hero-list-block {
    gap: 1.25rem;
  }
  .hero-list-item {
    font-size: 1.15rem;
    gap: 0.55em;
    padding: 0.6rem 0.9rem 0.6rem 0.9rem;
  }
  .hero-list-item-icon {
    width: 1.25rem !important;
    max-width: 1.25rem !important;
  }
  .hero-picture {
    width: 100%;
    max-width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  /* VARIABLES */
  :root {

  }
  /* HEADER */
  .header-logo {
    padding: 0.5rem;
  }
  .header-logo p {
    display: none;
  }
  /* HERO */
  .hero-title {
    font-size: 2.75rem;
  }
}
